:root {
    --back: #282c34;
    --main: #c778dd;
}

html,
body {
    font-family: 'monospace', sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 100px 10px 100px;
}

button {
    background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid var(--back);
    padding: 5px 20px 5px 20px;
    font-weight: bold;
}

input {
    background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid var(--main);
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

input[type='number'] {
    width: 100px;
    padding: 4%;
}

.content {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.content .header {
    font-family: sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
}

table,
th,
td {
    border: 2px solid var(--back);
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px 5px 10px;
}

.dotted-spaced {
    background-image: linear-gradient(
            to right,
            #333 10%,
            rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    width: 100%;
}

.ig {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-self: center;
}

.ct {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: center;
}

.graphic {
    height: 100%;
    width: 25%;
}

.warning {
    color: #d50c0c;
}

#cancelButton {
    margin-left: 0%;
    margin-top: 0%;
}


#clear_button {
    margin-left: 45%;
}


canvas {
    background: rgba(113,136,177, 0.5);
    /*width: 40%;*/
    /*aspect-ratio: 1/1;*/
}

.chart {
    text-align: right;
}